@page "/ProcessIndex"
@using Common
@using WebClient.Services.Common
@rendermode InteractiveServer


<h2 class="text-2xl font-bold mb-4">Process Designer (Drawflow)</h2>

<BPMN FollowShapeId="4" Forms="_formList"/>


@code {
    private string? _lastJson;
    private string? _import; // می‌توانید از سرور پر کنید
    private List<SelectDto> _formList = [];
    [Inject] public IBaseService BaseService { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await BaseService.Get<List<SelectDto>>("v1/Form/GetSelectList");
            if (result is not null)
            {
                _formList = result;
                StateHasChanged();
            }
        }
    }

    private Task HandleChanged(string json)
    {
        _lastJson = json;
        StateHasChanged();
        return Task.CompletedTask;
    }


    private Task HandleExport(string json)
    {
// اینجا می‌توانید json را به سرور POST کنید
        _lastJson = json;
        Console.WriteLine("Exported JSON length: " + json?.Length);
        return Task.CompletedTask;
    }

}
