@import "tailwindcss"

source(none);
@source "../../**/*.{html,js,razor}";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "lofi";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: #ed145d;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(97% 0 0);
  --color-secondary-content: #e31357;
  --color-accent: #c3c7d3;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #f1416c;
  --color-neutral-content: oklch(100% 0 0);
  --color-info: #36436d;
  --color-info-content: oklch(100% 0 0);
  --color-success: #06d7a0;
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(88.37% 0.135 79.94);
  --color-warning-content: oklch(100% 0 0);
  --color-error: #e74c3c;
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

@import "./font.css";
@import "./sidebar.css";

*{
    font-family: IranSans;
    border-color: oklch(92.2% 0 0);
}
.bg-border{
    background-color: oklch(92.2% 0 0);
}
.bg-background{
    background-color: oklch(98.5% 0 0);
}
.validation-message{
    @apply text-error
}
.invalid{
    @apply input-error border-error text-error
}
.djs-connection {
    pointer-events: stroke;
    stroke-width: 15px !important; /* ناحیه کلیک رو بزرگ کن */
    stroke-opacity: 0;             /* نامرئی بمونه */
}

.djs-connection > .djs-visual path {
    stroke-width: 2px; /* ظاهر واقعی خط */
    stroke-opacity: 1;
}
.input:focus {
    border-color: #ed145d;
}